<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- 
         In order to add values to the "database" of items available in your store which
         are tax exempt, add items to the lists below, comma delimited.
     -->
    <add key="books" value="book" />
    <add key="foods" value="chocolate" />
    <add key="medical" value="pill" />
    
  </appSettings>
</configuration>